body {
  box-sizing: border-box;
}

input {
  padding: 5px;
  margin: 5px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin-left: 20px;
}

/* table {
  box-sizing: border-box;
  line-height: 1.5;
  color: rgb(26, 32, 44);
  width: 100%;
  border-spacing: 20px 5px;
  border-width: 0px;
}

tr {
  display: table-row;
  padding-left: 2px;
}
th,
th {
  padding: 15px;
  text-align: center;
} */

/* td {
  text-align: center;
} */
